body {
    margin: 0;
    padding: 0;
    background-color: #2c2c2c; /* Replace with any color of your choice */
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
  }

.App {
    text-align: center;
    font-family: 'Roboto', sans-serif; /* Apply the Google Font */
  }
  
  h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
  }
  
  .choices {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
  }
  
  button {
    border: none;
    background: none;
    padding: 10px;
    cursor: pointer;
    outline: none;
    margin: 0 10px;
  }
  
  button img {
    width: 150px;
    display: block;
  }
  
  .results {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }
  
  .results img {
    width: 200px; /* Larger size for the result images */
    margin: 0 20px; /* Space out the images */
  }
  
  p {
    font-size: 24px;
    margin: 20px 0;
  }
  
  .choice {
    margin: 0 20px;
  }
  
  .choice p {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .score {
    font-size: 2em;
    margin: 20px 0;
  }
  