/* Sets up the font, flex sets up a  horizontal and vertical axis
and center aligns child elements, sets the height as the full 100, 
no margins, and makes the background grayish */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #c0c0c0;
}

/* Adds a black border around the calc body, rounds the corners,
makes any 'out of bounds' content hidden and sets the calc width and color */
.calculator {
    border: 1px solid #000000;
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    background-color: #eee;
}

/* Sets things up for the display, such as
width of display to 100% of container - 2px for the border,
sets font-size, border color and aligns text to the left side */
#display {
    width: calc(100% - 2px);
    font-size: 2em;
    padding: 15px;
    border: 1px solid #ccc;
    text-align: left;
}

/* Sets up a grid layout and divides into 4 columns each 
taking up one fr */
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/* Sets up button styling with font, extra padding space
changes the cursor to a hand when hovering over a button, 
transitions background color, sets initial color and text color on button */
button {
    font-size: 1.5em;
    padding: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #444;
    color: white;
}

/* Changes the background color to green when hovered over  */
button:hover {
    background-color: #08e79d;
}
